@import "tailwindcss";

@theme {
  --color-dark-bg: #0d1117;
  --color-dark-card: #161b22;
  --color-aqua-pink: #ff2d55;
}

body {
  @apply bg-dark-bg text-white font-sans;
}

html {
  scroll-behavior: smooth;
}